<div class="menu" id="menu">
  <dl>
    <dd><a href="__MODULE__"><i><img src="__PUBLIC__/admin/img/icon_write/menu_1.png"></i><em>控制台</em></a></dd>
    <dd><a href="__MODULE__/Category"><i><img src="__PUBLIC__/admin/img/icon_write/menu_2.png"></i><em>栏目管理</em></a></dd>    
    <dd><a href="__MODULE__/Advert"><i><img src="__PUBLIC__/admin/img/icon_write/menu_4.png"></i><em>广告管理</em></a></dd>    
  </dl>
  <ul>
    <li><i><img src="{$userinfo['photo']}"></i></li>
    <li><p>Hi {$userinfo['user']}!</p></li>
    <li><a href="__MODULE__/Login/outlogin">退出</a></li>
  </ul>
</div>