<!-------------------------
  网站公共页header
  -------------------------->
<include file="Public:header" />

<include file="Public:leftcate" />

<include file="Public:menu" />

<!--include file="Public:tag" /-->

<!-------------------------
  网站分离页Main
  -------------------------->
<form action="__ACTION__" method="post">
<div class="mainBox">
  <div class="main">
  
     <div class="m_list_title">
       <h1>编辑内容</h1>
     </div>
     
     <div class="m_forms">
       <dl>
         <dd>
           <label>栏目名称: </label>
           <input type="text" name="title" value="{$lo['title']}">
           	<input type="hidden" name="id" value="{$lo['id']}">
         </dd>
         <dd>
           <label>所属分类 : </label>
           <select name="pid" id="classFixed">
           	 <option value="0">顶级分类</option>
           	 <volist id="cate" name="cate">
           	   <option value="{$cate['id']}">{$cate['html']}{$cate['title']}</option>
             </volist> 
           </select>
         </dd>
         <dd>
           <label>模型 : </label>
           <select name="model" id="modelFixed">
           	 <option value="Index">首页专属</option>
           	 <option value="About">关于我们</option>
           	 <option value="Work">工作案例</option>
           	 <option value="Clients">友情链接</option>
           	 <option value="Contact">联系我们</option>
           </select>
         </dd>
         <dd>
           <label>图片 : </label>
           <input class="input_on1" type="text" name="img" id="url1" value="{$lo['img']}">
           <input class="input_on2" type="button" value="浏览" id="image1">
         </dd>
         <dd>
           <label>栏目链接 : </label>
           <input type="text" name="urllink" value="{$lo['urllink']}">
         </dd> 
         <dd>
           <label>内容 : </label>
           <textarea id="MyContent" name="content1">{$lo['content1']}</textarea>
         </dd>
         <dd>
           <label>顶部显示 : </label>
           <input type="text" name="menu_top" value="{$lo['menu_top']}">
         </dd>  
         <dd>
           <label>底部显示 : </label>
           <input type="text" name="menu_bottom" value="{$lo['menu_bottom']}">
         </dd>  
         <dd>
           <label>排序 : </label>
           <input type="text" name="porder" value="{$lo['porder']}">
         </dd>   
        </dl>        
     </div>
     
     <div class="m_forms_submit">
       <ul>
         <li>:) 此内容创建于{$cate['add_time']}!</dd>
       </ul>  
       <dl>
         <dd>+</dd>
         <dt><input class="btn_white" type="submit" name="sub" value="完成编辑" onsubmit="return checkFormUser();"></dt>
       </dl> 
     </div>
  </div>
  
  <div class="main" style="margin-top:30px;">  
     <div class="m_list_title">
       <h1>优化信息</h1>
     </div>
     
     <div class="m_forms">
       <dl>
         <dd>
           <label>seo title : </label>
           <input type="text" name="seo_title" placeholder="自定义当前页标题" value="{$lo['seo_title']}">
         </dd>
         <dd>
           <label>seo keywords : </label>
           <input type="text" name="seo_keywords" placeholder="关键词之间使用逗号隔开" value="{$lo['seo_keywords']}">
         </dd>    
         <dd>
           <label>seo description : </label>
           <textarea type="text" name="seo_description">{$lo['seo_description']}</textarea>
         </dd>    
       </dl>       

     </div>
     
     <div class="m_forms_submit">
       <ul>
         <li>(: &nbsp;所有信息都已添加完成,可以提交啦！</dd>
       </ul>
       <dl>
         <dd>+</dd>
         <dt><input class="btn_white" type="submit" name="sub" value="完成编辑" onsubmit="return checkFormUser();"></dt>
       </dl> 
     </div>
  </div>
  
</div>
</form>

<script type="text/javascript">

function opFixed(cFixed,_np){
	  var cfOption = document.getElementById(cFixed).getElementsByTagName("option");    
	  for(var i=0;i<cfOption.length;i++){
	  	  if(cfOption[i].value==_np){
	  	  	  cfOption[i].selected = true;
	  	  	  break;
	  	  }
	  	
	  }
}
opFixed("classFixed","{$lo['pid']}");
opFixed("modelFixed","{$lo['model']}");
</script>
<!-------------------------
  网站公共页bottom
  -------------------------->
<include file="Public:footer" />