<!-------------------------
  网站公共页header
  -------------------------->
<include file="Public:header" />
<!-------------------------
  网站公共页Left
  -------------------------->
<include file="Public:leftadmin" />

<!-------------------------
  网站公共页Menu
  -------------------------->
<include file="Public:menu" />

<!-------------------------
  网站公共页tag
  -------------------------->
<include file="Public:tag" />

{__CONTENT__}
<!-------------------------
  网站公共页bottom
  -------------------------->
<include file="Public:footer" />


</body>
</html>
