<!-------------------------
  网站公共页header
  -------------------------->
<include file="Public:header" />

<include file="Public:leftadmin" />

<include file="Public:menu" />

<!--include file="Public:tag" /-->
<!-------------------------
  网站分离页Main
  -------------------------->
<div class="mainBox">
  <div class="main">
    <form action="__ACTION__"  method="Post" name="site_set">
     <div class="m_list_title">
       <h1>配置站点信息</h1>
     </div>
     
     <div class="m_forms">
     	
       <dl>
         <dd>
           <label>网站地址 : </label>
           <input type="text" name="sitehost" value="{$set['sitehost']}">
           <input type="hidden" name="id" value="{$set['id']}">
         </dd>
         <dd>
           <label>网站名称 : </label>
           <input type="text" name="sitename" value="{$set['sitename']}">
         </dd>
         <dd>
           <label>网站LOGO : </label>
           <input class="input_on1" type="text" name="logo" id="url1" value="{$set['logo']}">
           <input class="input_on2" type="button" value="浏览" id="image1">
         </dd>
         <dd>
           <label>统计代码 : </label>
           <textarea name="code">{$set['code']}</textarea>
         </dd>
       </dl>
      
     </div>
     
     <div class="m_forms_submit">
       <ul>
         <li>:) 网站信息添加后立即生效!</dd>
       </ul>
       <dl>
         <dd>+</dd>
         <dt><input class="btn_white" type="submit" name="sub" value="完成编辑"></dt>
       </dl>  
     </div>
    </form>
  </div>
  
</div>
<!-------------------------
  网站公共页bottom
  -------------------------->
<include file="Public:footer" />